<!--start intro-->

   <div id="intro">
   
   <!-- <div class="group_bannner_right">
   <img src="images/picture.png" width="550" height="316"  alt="baner">
   </div> -->

    
   <div style="display: inline-block; float: right;max-width: 450px;">
    <div id="sliderio" class="nivoSlider theme-default">
      <%= image_tag 'riku/1_s.jpg', :height => "300px" %>
      <%= image_tag 'riku/2_s.jpg', :height => "300px" %>
      <%= image_tag 'riku/3_s.jpg', :height => "300px" %>
      <%= image_tag 'riku/4_s.jpg', :height => "300px" %>
      <%= image_tag 'riku/5_s.jpg', :height => "300px" %>
      <%= image_tag 'riku/6_s.jpg', :height => "300px" %>
      <%= image_tag 'riku/7_s.jpg', :height => "300px" %>
      <%= image_tag 'riku/8_s.jpg', :height => "300px" %>
    </div>

   </div>


    
    <!-- <div id="htmlcaption" class="nivo-html-caption">
        <strong>This</strong> is an example of a <em>HTML</em> caption with <a href="#">a link</a>.
    </div> -->


   
   <header class="group_bannner_left">
   <hgroup>
   <h1 class="myname">Ahmed Rubayet Hayder (Riku)   </h1>
   <p class="quote">
    <span>"</span>
    The woods are lovely, dark, and deep,
    <br />
    But I have promises to keep,
    <br />
    And miles to go before I sleep,
    <br />
    And miles to go before I sleep.
    <span>"</span>
   </p>
   </hgroup>
   </header>
   </div>
   <!--end intro-->

   
   
   <!--start holder-->

   <div class="holder_content">
   
   <section class="group1">
   <h3>About us</h3>
   	<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec molestie. Sed aliquam sem ut arcu. Phasellus sollicitudin. 
	Vestibulum condimentum  facilisis nulla. In hac habitasse platea dictumst. Nulla nonummy. Cras quis libero.</p>
    <a href=""><span class="read_more">Read more...</span></a>

	</section>
	

     
   <section class="group2">
   <h3>Services</h3>
   	<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec molestie. Sed aliquam sem ut arcu. Phasellus sollicitudin. 
	Vestibulum condimentum  facilisis nulla. In hac habitasse platea dictumst. Nulla nonummy. Cras quis libero.</p>
	<a href=""><span class="read_more">Read more ...</span></a>

	</section>


       
   <section class="group3">
   <h3>News</h3>
   	<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec molestie. Sed aliquam sem ut arcu. Phasellus sollicitudin. 
	Vestibulum condimentum  facilisis nulla. In hac habitasse platea dictumst. Nulla nonummy. Cras quis libero.</p>
	<a href=""><span class="read_more">Read more...</span></a>

	</section>

  
   </div>
   <!--end holder-->
   
   <!--start holder-->

   <div class="holder_content1">
    <section class="group4">
   <h3>Gallery</h3>
   	<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec molestie. Sed aliquam sem ut arcu. Phasellus sollicitudin. 
	Vestibulum condimentum  facilisis nulla. In hac habitasse platea dictumst. Nulla nonummy. Cras quis libero.</p>
    <div class="pikachoose">
	<ul id="pikame" >
		<li><a href="#"><img src="images/picture3.jpg" width="500" height="250"  alt="picture"/></a><span>“Simplicity is the nature of great souls.”</span></li>
		<li><a href="#"><img src="images/picture2.jpg" width="500" height="250" alt="picture"/></a><span>“The little things are infinitely the most important. “ </span></li>
		<li><a href="#"><img src="images/picture1.jpg" width="500" height="250" alt="picture"/></a><span>“Simplicity is the essence of happiness.”</span></li>
	   </ul>
       </div>

	</section>


       
   <section class="group5">
   <h3>Testimonials</h3>
   	<p><span class="purple">1)</span>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec molestie. Sed aliquam sem ut arcu. Phasellus sollicitudin. 
	Vestibulum condimentum  facilisis nulla. In hac habitasse platea dictumst. Nulla nonummy. Cras quis libero.</p>
      	<p><span class="purple">2)</span>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec molestie. Sed aliquam sem ut arcu. Phasellus sollicitudin. 
	Vestibulum condimentum  facilisis nulla. In hac habitasse platea dictumst. Nulla nonummy. Cras quis libero.</p>
   	<p><span class="purple">3)</span>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec molestie. Sed aliquam sem ut arcu. Phasellus sollicitudin. 
	Vestibulum condimentum  facilisis nulla. In hac habitasse platea dictumst. Nulla nonummy. Cras quis libero.</p>


	</section>

   
    </div>
    <!--end holder-->

   
   
    </div>
   <!--end container-->