<!doctype html>  
<head>
<meta charset="UTF-8">
<title>Riku</title>
<link rel="icon" href="images/favicon.gif" type="image/x-icon"/>
 <!--[if lt IE 9]>
 <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

<link rel="shortcut icon" href="images/favicon.gif" type="image/x-icon"/> 
<%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
<script language="javascript">
			$(document).ready(
				function (){
					$("#pikame").PikaChoose();
				});
		</script>
		


    </head>
    <body>
	
    <!--start container-->
    <div id="container">

    <!--start header-->

    <header>
 
    <!--start logo-->
      <%#= link_to image_tag("logo.png", :width => "221", :height => "100", :alt => "logo") %>
      <%= link_to image_tag("logo.gif", :alt => "logo") %>
	  <!--end logo-->
	
   <!--start menu-->

	<nav id="nav">
    <ul>
    <li>
      <%= link_to "Home", "#", :class => "current" %>
	</li>
  <li>
    <%= link_to "Blog", "#" %>
  </li>
  <li>
    <%= link_to "About Me", about_me_path %>
  </li>  

    </ul>
    </nav>
	<!--end menu-->
	

    <!--end header-->
	</header>

  <div style="clear: both;"></div>
  <div class="container">
    <%= yield %>
  </div>
   
   
   <!--start footer-->
   <footer>
   <div class="container">  
   <div id="FooterTwo"> © 2011 Think simple </div>
   <div id="FooterTree"> Valid html5, design and code by <a href="http://www.marijazaric.com">marija zaric - creative simplicity</a>   </div> 
   </div>
   </footer>
   <!--end footer-->
<!-- Free template distributed by http://freehtml5templates.com -->   
   </body></html>
